.newsDetailBoard{
	position:relative;
	background:#050a26;
	height:700px;
	width:100%;
	top:-7rem;
	padding:0;
	color:#fff;
	.titleDate{
		background:#101330;
	}
	.title{
		background:#101330;
		padding:1rem 0 1rem 2rem;
		font-size:1.2rem;
	}
	.date{
		background:#101330;
		font-size:0.8rem;
		padding:1rem;
	}
	.newsContent{
		padding:1rem 2rem;
		
		p{
			text-indent:2rem;
			font-size:1rem;
		}
		img{
			display:block;
			margin: 0.5rem auto;
		}
	}
	.newsContent{
		height:600px;
		overflow-y:scroll;
	}

	
}

.newsList{
	padding:0 12rem;
	color:#fff;
	margin:0 0 3rem 0;
	position:relative;
	.swiper-slide{
	}
	.swiper-pagination{
		color:#fff;
        left:0;right:0;
        .swiper-pagination-bullet{
        	background:#fff;
        	margin:0 0.2rem;
        }
    }
    .btn{
    	
    	#btnPrev,#btnNext{
    		position:absolute;
    		top:-1rem;
    		font-size:2rem;
    		display:block;
    	}
    	#btnPrev{
    		left:4rem;
    	}
    	#btnNext{
    		right:4rem;
    	}
    }
}