<!DOCTYPE html>
<html lang="en">
<head>
@@include('../include/web_header.html')
<link rel="stylesheet" href="/css/index.css">
</head>

<body>
<div id="header" class="container-fluid"></div>
<div class="row">
	<div class="bgImage" style="background-image:url(img/index_01.png); margin-top:-6rem;height:605px;"></div>
</div>
<div class="container">
	<!-- news -->
	<div class="row">
		<div class="col-md-8">
			<div class="introduction">
				<div class="row">
					<div class="col-lg-4 p-l-0  p-r-0">
						<img src="img/index_introduce.png" alt="">
					</div>
					<div class="col-lg-8 p-l-0 ">
						<div class="title">INTRODUCTION</div>
						<div style="height:2px;background:#fff;width:3rem;margin-bottom:1.5rem;margin-top:1rem;"></div>
						<p class="content">碧骋实业集团是一家集文化旅游、新能源、机械生产制造、国际贸易、矿产及金融投资等多项新兴支柱产业于一体的多元化实业集团，致力于创建多元化的企业生态圈，不断提升自己在涉足行业内的专业能力，并且持续探索其他领域的可能和机遇。</p>
						
					</div>
				</div>
				<a href="about.html?menu=groupIntroduction" class="more">more <span>></span></a>		
			</div>
		</div>
		<div class="col-md-4">
			<div class="newsboard">
				<div style="border-right:2px solid #fff;height:2.8rem;width:4%;float:left;"></div>
				<div style="width:80%;float:left;padding-left:0.5rem;line-height:1.5rem;">
					<div style="font-size:1.6rem;margin-top:0rem;">新闻动态</div>
					<div style="font-size:1.2rem;">news</div>
				</div>
				<div style="color:#fff;font-size:3rem;width:16%;float:left;margin-top:-1.2rem;">+</div>
				<ul class="newsList">
					<li>
						<a href="news.html">
							<div class="row">
								<div class="col-xs-3 date">
									<div>22</div>
									<div>MAY</div>
								</div>
								<div class="col-xs-9 news_title">
									<div>碧骋集团一行赴山东微山项目考察</div>
									<div class="date2">2017/5/22</div>
								</div>
							</div>
						</a>		
					</li>
				</ul>
			</div>
			
		</div>
	</div>

	<!--section1-->
	<div class="row sectionHeading">
		<div class="col-xs-12">
			<div class="title1">产业优势</div>
			<div class="title2">INDUSTRIAL ADVANTAGE</div>
		</div>
	</div>
	<div class="row industryAdvantage">
		<div class="col-sm-3">
			<div class="item">
				<div class="title">市场前景广阔</div>
				<img src="img/industryAdvantage_01.png" alt="市场前景广阔">
				<div class="desc">筛选市场现有及创新项目，智选优质项目，从源头出发，把控投资方向。</div>
			</div>
			
		</div>
		<div class="col-sm-3">
			<div class="item">
				<div class="title">融资渠道宽泛</div>
				<img src="img/industryAdvantage_02.png" alt="融资渠道宽泛">
				<div class="desc">手握优质资源，深得投资方信赖，融资渠道多而广。</div>
			</div>
			
		</div>
		<div class="col-sm-3">
			<div class="item">
				<div class="title">国家政策倾斜</div>
				<img src="img/industryAdvantage_03.png" alt="国家政策倾斜">
				<div class="desc">业务坚持可持续发展及环保绿色，为国家的发展及人类的进步做出一个企业应有的贡献。</div>
			</div>
			
		</div>
		<div class="col-sm-3">
			<div class="item">
				<div class="title">政府扶持</div>
				<img src="img/industryAdvantage_04.png" alt="政府扶持">
				<div class="desc">始终坚持做对的，而非是最有利的，也是集团对于投资项目的要求，政府支持且欢迎。</div>
			</div>
			
		</div>
	</div>
</div>
<!-- section2 -->
<div class="container-fluid" style="position:relative;" id="strategyLayout">
	<div class="strategyLayoutLine"></div>
	<div class="strategyLayoutLineCover"></div>
	<div class="container">
		<div class="row sectionHeading">
			<div class="col-xs-12">
				<div class="title1">战略布局</div>
				<div class="title2">STRATEGY LAYOUT</div>
			</div>
		</div>
		<div class="row strategyLayout">
			<div class="col-xs-12" style="padding:0 6rem;">
				<div class="row">
					<div class="col-md-2">
						<div class="item" data-num="1">
							<img src="img/indexSection2_01.png" alt="金融">
							<div class="dot"></div>
							<div class="num">01</div>
							<div class="title">金融</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="item" data-num="2">
							<img src="img/indexSection2_02.png" alt="国际贸易">
							<div class="dot"></div>
							<div class="num">02</div>
							<div class="title">国际贸易</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="item" data-num="3">
							<img src="img/indexSection2_03.png" alt="文化旅游">
							<div class="dot"></div>
							<div class="num">03</div>
							<div class="title">文化旅游</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="item" data-num="4">
							<img src="img/indexSection2_04.png" alt="机械生产制造">
							<div class="dot"></div>
							<div class="num">04</div>
							<div class="title">机械生产制造</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="item" data-num="5">
							<img src="img/indexSection2_05.png" alt="新能源">
							<div class="dot"></div>
							<div class="num">05</div>	
							<div class="title">新能源</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="item" data-num="6">
							<img src="img/indexSection2_06.png" alt="矿产">
							<div class="dot"></div>
							<div class="num">06</div>
							<div class="title">矿产</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12" id="strategyLayoutContent"></div>
		</div>		
	</div>
</div>
<!-- section3 -->
<div class="container-fluid investmentCreatesValue">
	<div class="container">
		<img src="/img/indexSection3_01.png" alt="投资创造价值">
	</div>
</div>
<!--section4-->
<div class="container">
	<div class="row sectionHeading">
		<div class="col-xs-12">
			<div class="title1">我们在哪</div>
			<div class="title2">MAP</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<img src="/img/map.png" alt="地图" style="margin:2rem 0;width:100%;">
		</div>
	</div>
</div>

<div id="footer" class="container-fluid"></div>
@@include('../include/web_footer.html')
<script>
	seajs.use("page/include");
	seajs.use("page/index");
</script>
</body>
</html>